@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading-font{
    font-family: 'Lobster', cursive;
}
*{
    margin:0;
    padding:0;
    text-decoration: none;
}
main{
    width: 100%;
}
.sidebar-sidebar{
    background-color: #000;
    width: 200px;
    transition: all 0.5s;
}
.sidebar-top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.sidebar-logo{
    font-size: 30px;
}
.sidebar-bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.sidebar-link{
    display: flex;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.sidebar-link:hover{
    background:rgb(255, 255, 255);
    color: #000;
    transition: all 0.5s;
}
.sidebar-active{
    background:rgb(221, 221, 221);
    color: #000;
}
.sidebar-link_text{
    font-size: 1.2rem;
    font-weight: 600;
}
.sidebar-height{
    min-height: 100vh;
    max-height: 100%;
}
.dropdown-menu li{
    width: 200px;
}
.dataTables_empty{
    color: rgb(255, 40, 40);
    font-weight: bold;
}
#data-table{
    margin-top: 20px;
}