@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading-font{
    font-family: 'Lobster', cursive;
}
*{
    margin:0;
    padding:0;
    text-decoration: none;
}
main{
    width: 100%;
}
a{
    text-decoration: none;
    color: #000;
    
}
a:hover{
    text-decoration:none;
}
.sidebar-sidebar{
    background-color: #000;
    width: 200px;
    transition: all 0.5s;
}
.sidebar-top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.sidebar-logo{
    font-size: 30px;
}
.sidebar-bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.sidebar-link{
    display: flex;
    color: rgb(255, 255, 255);
    padding: 10px 11px;
    gap: 15px;
    transition: all 0.5s;
}
.sidebar-link:hover{
    background:rgb(255, 255, 255);
    color: #000;
    transition: all 0.5s;
}
.sidebar-active{
    background:rgb(221, 221, 221);
    color: #000;
}
.sidebar-link_text{
    font-size: 1.2rem;
    font-weight: 600;
}
.sidebar-height{
    min-height: 100vh;
    max-height: 100%;
}
.dropdown-menu li{
    width: 200px;
}
.dataTables_empty{
    color: rgb(255, 40, 40);
    font-weight: bold;
}
#data-table{
    margin-top: 20px;
}
.note-group-select-from-files {
    display: none;
}
.max-150{
    max-width: 150px;
}
.max-50{
    max-width: 50px;
}
.carousel{
margin-top: -60px;
}
.family-normal{
    font-family: 'Nunito Sans', sans-serif;
}
.bg-image-1{
    background: url(https://images.unsplash.com/photo-1663305411753-4c305e177ff3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1vZi10aGUtZGF5fHx8fGVufDB8fHx8&dpr=1&auto=format%2Ccompress&fit=crop&w=1200&h=600);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.bg-image-hexagon-white{
    background: url('/public/bg-img/hexagon-white.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 70px);
}

.bg-image-white-blue{
    background: url('/public/bg-img/illustration-white-blue.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    min-height: calc(100vh - 70px);
}
.bg-image-white{
    background: url('/public/bg-img/illustration-white.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 70px);
}
.bg-image-space{
    background: url('/public/bg-img/illustration-space.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 70px);
}
.bg-image-space-h-auto{
    background: url('/public/bg-img/illustration-space.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image-space-two{
    background: url('/public/bg-img/illustration-space-two.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 70px);
}
.bg-image-bw{
    background: url('/public/bg-img/illustration-bw.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 70px);
}
.bg-image-world-blue{
    background: url('/public/bg-img/world-white.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: calc(100vh - 70px);
}
.bg-random-1{
    background: url('/public/bg-img/image-random-1.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: calc(100vh - 70px);
}
.bg-random-2{
    background: url('/public/bg-img/image-random-2.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: calc(100vh - 70px);
}
.bg-white-1{
    background: url('/public/bg-img/white-bg-1.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: calc(100vh - 70px);
}
.bg-white-2{
    background: url('/public/bg-img/white-bg-2.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: calc(100vh - 70px);
}
.bg-white-3{
    background: url('/public/bg-img/white-bg-3.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: calc(100vh - 70px);
}
.bg-footer{
    background: url('/public/bg-img/bg-footer.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.index-card-box{
    max-width: 500px;
}
.cursol-pointer{
    cursor: pointer;
}
.min-width-400{
    min-width: 200px;
} 
.min-width-500{
    min-width: 300px;
}  
.min-width-600{
    min-width: 400px;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.width-max-100{
    max-width: 100px!important;
}
.width-max-150{
    max-width: 150px!important;
}
.width-max-200{
    max-width: 200px!important;
}
.width-max-300{
    max-width: 300px!important;
}
.width-max-400{
    max-width: 400px!important;
}
.width-max-500{
    max-width: 500px!important;
}
.width-max-600{
    max-width: 600px!important;
}
.width-max-700{
    max-width: 700px!important;
}
.h-37{
    height: 37px;
}
.h-200{
    height: 200px;
}
.h-300{
    height: 300px;
}
.h-400{
    height: 400px;
}
.h-500{
    height: 500px;
}
.h-600{
    height: 600px;
}
.h-700{
    height: 700px;
}
.h-800{
    height: 800px;
}
.bg-light-hover::hover{
    background-color: #fff;
}
.h-45{
    height: 45px;
}
.fs-e-sm{
    font-size: 12px !important;
}
.fs-sm{
    font-size: 14px !important;
}
.fs-1{
    font-size: 16px !important;
}
.fs-2{
    font-size: 18px !important;
}
.fs-3{
    font-size: 20px !important;
}
.fs-4{
    font-size: 22px !important;
}
.fs-5{
    font-size: 24px !important;
}
.fs-6{
    font-size: 26px !important;
}
.fs-7{
    font-size: 28px !important;
}
.fs-8{
    font-size: 30px !important;
}
.fs-9{
    font-size: 32px !important;
}
.fs-10{
    font-size: 34px !important;
}
.vh-100-40{
    min-height: calc(100vh - 90px);
}
.w-minus-40{
    width: calc(100% - 40px);
}
.w-minus-60{
    width: calc(100% - 60px);
}
.w-120{
    width: 120px;
}
.w-120{
    width: 120px;
}
.w-300{
    width: 300px;
}
.contact-btn{
    border-color: #25274d;
    background-color: #25274d41;
    border-radius: 5px;
    border-width: 2px;
    color: #c5c8ff;
    font-weight: 600;
    width: 200px
}
.contact-btn:hover{
    background-color: #25274d;
    color: #fff;
}
.contact-side-color{  
    /* background: #fff; */
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.bg-transparent-10{
    background-color:rgba(255, 255, 255, 0.10);
}
.bg-transparent-20{
    background-color:rgba(255, 255, 255, 0.20);
}
.bg-transparent-30{
    background-color:rgba(255, 255, 255, 0.30);
}
.bg-transparent-40{
    background-color:rgba(255, 255, 255, 0.40);
}
.bg-transparent-50{
    background-color:rgba(255, 255, 255, 0.50);
}
.circle-box-in-middle{
    border-radius: 50%;
    font-size: 45px;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.40);
}